<!DOCTYPE html>
<html>
<head>
    <title>Placement Management</title>
</head>
<body>

<h2>Placement Management System</h2>

<hr>

<h3>Add Student Placement Details</h3>

<form method="post" action="/add/">
    {% csrf_token %}

        USN:
        <br>
        <input type="text" name="usn" required>
        <br><br>
   
        Name:
        <br>
        <input type="text" name="name" required>
        <br><br>

        Company:
        <br>
        <input type="text" name="company" required>
        <br><br>

        <button type="submit">Add Student</button>
    

</form>

<hr>

<h3>View Students</h3>

<p>
    <a href="/amazon/">View Students Placed in Amazon</a>
</p>

</body>
</html>