<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Weather Details</h1>

    <form method="post">
        {% csrf_token %}
        Enter City : <input type="text" name="city">

        <button type="submit">Submit</button>
    </form>

    <br><br>

    {% if weather %}
        <p>{{weather.city}}</p>
        <p>{{weather.temp}}</p>
        <p>{{weather.desc}}</p>
        <br>

    {% endif %}

    {% if errors %}
    <p style="color: red;"> error : <b>{{errors.msg}}</b></p>
    {% endif %}

</body>
</html>